<div class="users-list-main">
  @if ((this.status$ | async) === 'loading') {
    <h1>Loading...</h1>
  } @else {
    <div class="users-list">
      @for (user of this.users$ | async; track user) {
        <app-user-card [user]="user" (deleteUserEvent)="deleteUser($event)"
                       (onEdited)="openCreateEditUserDialog(user)"></app-user-card>
      }
    </div>
    <button class="button-open-modal" style="height: 30px;" (click)="openCreateEditUserDialog()">+</button>

    @if ((this.users$ | async)!.length === 0) {
      <h1>No Items(((</h1>
    }
  }

</div>
